<button class="btn btn-danger btn-lg btn-block" id="scrape">Click to Scrape Articles</button>
<div id="noArticles" class="card text-center">
  <div class="card-header">
    No Articles Scrapped
  </div>
  <div class="card-body noArticleBody">
    <p class="card-text">Click that fancy red button above to get some articles.</p>
  </div>
</div>
<div class="container" id="results"></div>
</div>

<script src="../js/app.js"></script>