<div id="noArticles" class="card text-center">
  <div class="card-header">
    <h1>No Saved Articles</h1>
  </div>
  <div class="card-body">
    <a href="/"><h3 class="card-text">Browse Articles.</h3></a>
  </div>
</div>
<div id="results" class="container"></div>
<script src="../js/saved.js"></script>